*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rside{
    margin-right: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}.lside{
    margin-left: 15%;
    display: flex;
    gap: 20px;
    background-color: white;
}.lside input{
    width: 450px;
    vertical-align: initial;    
    outline: 0px;
    border: 1px solid rgb(240, 236, 236);
    border-radius: 7px;
}
.navbar{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    
}
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
  }
    
  .dropdown:hover .dropdown-content {
    display: block;
  }.kochi{

    font-size: 14px;
    font-weight: 400;
    color: rgb(26, 26, 26);
    padding-right: 15px;
    line-height: 19px;
  }.dropbtn .drop{ 
    font-size: 20px;
    color: rgb(122, 126, 126);
  }.signin{
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    width: 67px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(248, 68, 100);
  }


.secondnav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(242, 245, 245);
}
.slside{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 100;
    margin-left: -90px;
    color: rgb(58, 59, 59);
}.srisde{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 15px;
    color: rgb(71, 71, 71);
  }






  .imagecontainer{
    display: flex;
    overflow: scroll;
    gap: 30px;
    padding: 10px;
    background-color: rgb(215, 218, 218);
  }.imagecontainer img{
    border-radius: 10px;
  }
  .cardscontainer{
    display: flex;
    overflow-x: scroll;
    /* justify-content: space-evenly; */


  }

  .cardscontainer div{
    /* width: 600px; */
    margin-left: 30px;
    border: 1px solid black;
  }

  .cardscontainer div img{
    width: 300px;
  }